{% extends 'base.html' %}

<h1>Recent Posts</h1>
{% block content %}
<ul>
{% for post in posts %}
  <li>
    <div class="post-entry">
      <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <h3>{{ post.date }}</h3>
    </div>
  </li>
  {% endfor %}
</ul>

{% if page_obj.paginator.num_pages > 1 %}

    {% if page_obj.has_previous %}

    <a href="?page={{ page_obj.previous_page_number }}">previous</a>

{% endif %}

<span>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

{% if page_obj.has_next %}

    <a href="?page={{ page_obj.next_page_number }}">next</a>

{% endif %}


{% endif %}
{% endblock content %}